@import "tailwindcss";

@theme {
  --color-transparent: transparent;
  --color-current: currentColor;
  --color-white: #fffff;
  --color-purple: #3f3cbb;
  --color-midnight: #121063;
  --color-metal: #565584;
  --color-tahitiLight: #67e8f9;
  --color-tahitiDefault: #06b6d4;
  --color-tahitiDark: #0e7490;
  --color-silver: #ecebff;
  --color-bubble-gum: #ff77e9;
  --color-bermuda: #78dcca;
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@layer utilities {
  .animate-spin-slow {
    animation: spin-slow 12s linear infinite;
  }
}
